body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.todo-form > div {
    display: flex;
    justify-content: center;
    margin: 0.5rem 2.5%;
}

input::placeholder {
    color: #cccccc;
}

.todo-form #todo {
    width: 100%;
    padding: 1.5rem 2.5%;
    border: 0px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    font-size: 25px;
    text-align: center;
}

.todo-form #todo:focus-visible {
    outline: none;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.todo-form #todo:focus-visible::placeholder {
    color: #bbbbbb;
}

.btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    border: 0px;
    border-radius: 3px;
}

.btn#submit {
    color: #ffffff;
    background-color: #25d0bc;
    padding: 0.3em 1em;
    font-size: 30px;
}

.btn#submit:active {
    background-color: #1b998b;
}

.btn.delete {
    background-color: rgb(231, 12, 12);
    display: inline;
    margin-left: auto;
    font-size: 20px;
}

.btn.delete > i {
    color: #000;
}

.btn.delete:active {
    background-color: rgb(179, 12, 12);
}

@media screen and (max-width: 450px) {
    #submit {
        position: absolute;
        top: 6.5rem;
    }
}

#tasks {
    position: relative;
    top: 4.5rem;
}

.task {
    margin: 1rem 5%;
    padding: 0px 2.5%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #cccccc;
}

.task > p {
    display: inline;
    margin: 0;
}

.task > .btn {
    float: right;
}
