body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main {
    max-width: 800px;
    margin: auto;
}

.todo-form > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 2.5%;
}

input::placeholder {
    color: #cccccc;
}

.todo-form #todo {
    width: 100%;
    padding: 1.5rem 2.5%;
    border: 0px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    font-size: 25px;
    text-align: center;
}

.todo-form #todo:focus-visible {
    outline: none;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.todo-form #todo:focus-visible::placeholder {
    color: #bbbbbb;
}

.btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    border: 0px;
    border-radius: 3px;
}

.btn#submit {
    color: #ffffff;
    background-color: #25d0bc;
    padding: 0.3em 1em;
    font-size: 30px;
    position: absolute;
    top: 6.5rem;
    box-shadow: 2px 2px 5px #ccc;
}

.btn#submit:active {
    background-color: #1b998b;
}

.btn.delete {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: auto;
}

.btn.delete > i {
    color: #000;
    background-color: rgb(231, 12, 12);
    box-shadow: 1px 1px 3px #ccc;
    border-radius: 3px;
}

.btn.delete > i:active {
    background-color: rgb(179, 12, 12);
}

#tasks {
    position: relative;
    top: 4.5rem;
    margin: auto;
}

.task {
    display: flex;
    gap: 1em;
    margin: 1rem 5%;
    padding: 0px 2.5%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #cccccc;
}

.task.disappear {
    transform: translate(-110%, 0);
    transition-duration: 120ms;
    transition-timing-function: ease-in;
}

.task > p {
    display: inline;
    margin: 0px;
}
